@model ECommiersMarket.Models.Product

@{
    ViewBag.Title = "تعديل بيانات صنف ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-body">
    <div class="d-flex align-items-center" style=" direction:ltr">
        <p style="direction:ltr ">
            <a color:black; class="btn btn-outline-success" href="~/Products/Index">الرجوع للقائمة   </a>
        </p>

        <p style="direction:ltr " class="me-2">
            <a color:black; class="btn btn-outline-success" href="~/AddGroups/Index"> إضافة صورة لمنتج  </a>
        </p>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    <div class="col-12">
        <div class="form-group">
            @Html.Label("المجموعة الفرعية ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SupGroup, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SupGroup, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("إسم الصنف ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("ألكمية ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Qnt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Qnt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("السعر ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("الملاحظات ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br>
    <br>

    <div class="form-group">
        <div class="mb-3">
            <button class="btn btn-outline-success w-100 waves-effect waves-light" type="submit"> حفظ  </button>
        </div>
        <br>
        <div class="mb-3">
            <a href="~/Products/Index" class="btn btn-outline-success w-100 waves-effect waves-light"> الرجوع لقائمة الاصناف   </a>
        </div>
    </div>
</div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
