@model IEnumerable<ECommiersMarket.Models.Product>

@{
    ViewBag.Title = "قائمة المنتجات ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card-body">
    <div class="d-flex align-items-center" style=" direction:ltr">
        <p style="direction:ltr  " >
            <a color:black; class="btn btn-outline-success" href="~/AddGroups/Index"> إضافة منتج </a>
        </p>
        <p style="direction:ltr " class="me-2">
            <a color:black; class="btn btn-outline-success" href="~/AddGroups/Index"> إضافة منتج </a>
        </p>
    </div>
    <h2>إدارة المنتجات </h2>


    <table class="table table-bordered table-responsive table-hover " id="datatable" name="datatable">
        <thead>
            <tr>
                <th>م </th>
                <th>اسم الفئة </th>
                <th>المجموعة </th>
                <th>المنتج  </th>
                <th>السعر   </th>
                <th>العمليات  </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubGroupsT.MainGroup.GroupName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubGroupsT.SubGroupName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>




                    <td class="col-3">
                        <a href="/Groups/Edit/@item.ID" class="btn btn-outline-secondary btn-sm edit" title="تعديل ">
                            <i class="fa-solid fa-wand-magic-sparkles"></i>
                        </a>

                        <a href="/Groups/Delete/@item.ID" onclick="return deleteCheck(this);" class="btn btn-outline-danger btn-sm"><i class="fa-solid fa-trash fa-shake"></i></a>

                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>


